<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5973311767-h7mp1u4e266psh6fd1aqcsaig2nrrchi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5973311767-h7mp1u4e266psh6fd1aqcsaig2nrrchi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>5973311767-ctbgoe2sdltp1v76j9d655nclml4nhek.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzu5TtwBlDm2pIMWI9oq3AaJBBE12HKR0</string>
	<key>GCM_SENDER_ID</key>
	<string>5973311767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pharmashots.mini</string>
	<key>PROJECT_ID</key>
	<string>pharmashots-c9128</string>
	<key>STORAGE_BUCKET</key>
	<string>pharmashots-c9128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5973311767:ios:ab755b20f380b18f1df752</string>
</dict>
</plist>